<div class="pane-blue">
	<ion-content scroll="false" class="login-footer-fix has-header" padding="true">
<ion-view class="pane-blue">
	<ion-content scroll="false" class="login-footer-fix">
	  <ion-slides  options="options" slider="data.slider">
	    <ion-slide-page>
	      <div class="box text-white">
	      	<img id="logo" class="center" src="img/happster-home.png">
			<h3 id="logo-name" class="text-center">happster</h3>
			<h3 id="logo-subtitle" class="text-center">work happier.</h3>
		  </div>
	    </ion-slide-page>
	    <ion-slide-page class="padding">
		    <div class="text-white">
		    	<h2 class="text-center">Provide Feedback</h2>
		    	<p class="text-center">Feedback provides a space where employees and teams can constructively speak their minds</p>
				<img style="width: 250px;" class="center padding-top" src="img/homepage-features/feedback-hp-feature.png">
			</div>	
	    </ion-slide-page>
	    <ion-slide-page class="padding">
	      <div class="box text-white">
		      <h2 class="text-white text-center">Recognize Heroes</h2>
		      <p class="text-center">Not all heroes wear capes.</p>
		      <img style="width: 250px;" class="center padding-top" src="img/homepage-features/heroes-hp-feature.png">
	      </div>
	    </ion-slide-page>
	    <ion-slide-page class="padding">
		    <div class="text-white">
		    	<h2 class="text-center">Ask Questions</h2>
		    	<p class="text-center">Qhub lets you ask questions and request help anonymously from your peers.</p>
		    	<img style="width: 250px;" class="center padding-top" src="img/homepage-features/qhub-hp-feature.png">
			</div>	
	    </ion-slide-page>
	  </ion-slides>
	</ion-content>
	<ion-footer-bar class="bar-stable login-footer">
		<div class="row">
			<div class="col">
				<button class="button button-block button-clear-blue" nav-direction="forward" ui-sref="signin">Login</button>
				<button class="button button-block button-gray" nav-direction="forward" ui-sref="signup">Sign up</button>
			</div>
		</div>	
	</ion-footer-bar>
</ion-view>